body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f5f9; 
    color: rgb(241,245,249);
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: #0ea5e9; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 22px;
    color: white;
    text-align: center;
}

.header p {
    margin-top: 9px;
    font-size: 15px;
}

.menu {
    background-color: #e0f2fe;
    text-align: center;
    padding: 10px;
    margin: 16px;
    border-radius: 12px;
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #0369a1;
    font-weight: bold;
}

.menu a:hover {
    color: white;
    background-color: #0284c7;
    padding: 5px 10px;
    border-radius: 8px;
}

.content {
    padding: 25px;
    flex: 1;
}
.content p {
    color: black;
}
.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    margin-bottom: 50px;
}

.section h2 {
    color: #0f172a;
    margin-bottom: 10px;
}

.qualification {
    background-color: #ecfeff;
    border-left: 6px solid #0ea5e9;
    color: black;
    padding: 10px;
}
.qualification li {
    list-style: none;
    padding: 8px;
}

.footer {
    background-color: #0f172a;
    color: #e5e7eb;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}